<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.ma1co.pmcademo.app" >

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application android:label="@string/app_name" >
        <receiver android:name=".ExitCompletedReceiver" >
            <intent-filter>
                <action android:name="com.android.server.DAConnectionManagerService.ExitCompleted" />
                <category android:name="ANDROID.INTENT.CATEGORY.DEFAULT" />
            </intent-filter>
        </receiver>
        <receiver android:name=".BootCompletedReceiver" >
            <intent-filter>
                <action android:name="com.android.server.DAConnectionManagerService.BootCompleted" />
                <category android:name="ANDROID.INTENT.CATEGORY.DEFAULT" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".KeyEventActivity"
            android:label="@string/title_activity_key_event" >
        </activity>
        <activity
            android:name=".PropertyActivity"
            android:label="@string/title_activity_property" >
        </activity>
        <activity
            android:name=".WifiActivity"
            android:label="@string/title_activity_wifi" >
        </activity>
        <activity
            android:name=".WifiSettingActivity"
            android:label="@string/title_activity_wifi_setting" >
        </activity>
        <activity
            android:name=".WifiDirectActivity"
            android:label="@string/title_activity_wifi_direct" >
        </activity>
        <activity
            android:name=".TimeActivity"
            android:label="@string/title_activity_time" >
        </activity>
        <activity
            android:name=".CameraActivity"
            android:label="@string/title_activity_camera" >
        </activity>
        <activity
            android:name=".DisplayActivity"
            android:label="@string/title_activity_display" >
        </activity>
        <activity
            android:name=".LedActivity"
            android:label="@string/title_activity_led" >
        </activity>
    </application>

</manifest>
